<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Efeito de Expansão de Fundo</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="square math">Matemática</div>
            <div class="square history">História</div>
            <div class="square science">Ciências</div>
            <div class="square english">Inglês</div>
            <div class="square art">Arte</div>
            <div class="square geography">Geografia</div>
            <div class="square physics">Física</div>
            <div class="square chemistry">Química</div>
            <div class="square pe">Educação Física</div>
        </div>
    </div>
    <script src="{% static 'script.js' %}"></script>
</body>
</html>
